{% extends 'rest_framework/base.html' %}

{% block title %}
    About
{% endblock title %}

{% block breadcrumbs_empty %}
    <span class="active">About</span>
{% endblock breadcrumbs_empty %}


{% block content %}
    <div class="container">
        <p></p>
        <p>
            <b>Username: <a href="{% url 'djoser:auth' %}">{{ username }}</a></b>
        </p>
        <p>
            <b>Server version: <span style="color: darkred">{{ server_version }}</span></b>
        </p>


        <p>
            <b>- <a href="/api/v1/auth/users">api/v1/auth/users</a></b>
            (графическая авторизация);
        </p>
        <p>
            <b>- <a href="/api/v1/auth-token/token/login">api/v1/auth-token/token/login</a></b>
            (принимает поля "username" и "password");
        </p>
        <p>
            <b>- <a href="/api/v1/auth-token/token/logout">api/v1/auth-token/token/logout</a></b>
            (принимает поле "username")
        </p>
        <p>
            <b>- <a href="/api/v1/task/all">api/v1/task/all</a></b>
        </p>
        <p>
            <b>- <a href="/api/v1/task/create/task">api/v1/task/create/task</a></b>
        </p>
        <p>
            <b>- <a href="/api/v1/task/create/comment">api/v1/task/create/comment</a></b>
        </p>
        <p>
            <b>- <a href="/api/v1/task/details/">api/v1/task/details</a></b>
        </p>


    </div>
{% endblock content %}