{% extends 'rest_framework/base.html' %}

{% block title %}
    About
{% endblock title %}

{% block breadcrumbs_empty %}
    <span class="active">About</span>
{% endblock breadcrumbs_empty %}


{% block content %}
    <div class="container">
        <p></p>

        <p>
            <b>Server version: <span style="color: darkred">{{ server_version }}</span></b>
        </p>


        <p>
            <b>- <a href="{% url 'rest_framework:login' %}">api/v1/base-auth/login</a></b>
            (графическая авторизация);
        </p>
        <p>
            <b>- <a href="{% url 'rest_framework:logout' %}">api/v1/base-auth/logout</a></b>
            (графическая авторизация);
        </p>



        <p>
            <b>- <a href="{% url 'task:public' %}">api/v1/task/public</a></b>
        </p>
        <p>
            <b>- <a href="{% url 'task:owner' %}">api/v1/task/owner</a></b>
        </p>
        <p>
            <b>- <a href="{% url 'task:create' %} ">api/v1/task/create/task</a></b>
        </p>
        <p>
            <b>- <a href="{% url 'task:comment' %}">api/v1/task/create/comment</a></b>
        </p>
        <p>
            <b>- <a href="{% url 'task:details' 1 %}">api/v1/task/details</a></b>
        </p>


    </div>
{% endblock content %}